.tabButtons {
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 20px;
    font-weight: 1000;
    border-width: 4px;
}

.tabButtons:disabled {
    background-color: #D2AD94;
    color: #004048;
}

.darkTheme {
    background-color:  #004048;
    border-color: #ACCBC3;
    color: #E7E0D8;
}

.lightTheme {
    background-color: #ACCBC3;
    border-color: #D2AD94;
    color: #004048;
}